<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>書籍管理</title>
</head>
<body>
<h1>書籍情報 管理</h1>
<div>
    <h2>検索</h2>
    <p>キーワードで絞り込み検索ができます</p>
    <form method="get" action="/book">
        <div>
            <label for="keyword">keyword</label>
            <input type="text" id="keyword" placeholder="タイトルまたは著者" name="keyword">
            <button type="submit">検索</button>
        </div>
    </form>
    <h2>リスト</h2>
    {{#books}}
    <div>
        <ul>
            <li>id: {{id}}</li>
            <li>title: {{title}}</li>
            <li>author: {{author}}</li>
            <li>
                <form method="post" action="/book/delete/{{id}}">
                    <button type="submit">delete</button>
                </form>
            </li>
        </ul>
        <form method="post" action="/book/edit/{{id}}">
            <ul>
                <li>
                    <label for="title{{id}}">title</label>
                    <input type="text" id="title{{id}}" value="{{title}}" name="title">
                </li>
                <li>
                    <label for="author{{id}}">author</label>
                    <input type="text" id="author{{id}}" value="{{author}}" name="author">
                </li>
                <li>
                    <button type="submit">update</button>
                </li>
            </ul>
        </form>
    </div>
    {{/books}}
</div>
<div>
    <h2>新規登録</h2>
    <form method="post" action="/book">
        <ul>
            <li>
                <label for="title0">title</label>
                <input type="text" id="title0" name="title">
            </li>
            <li>
                <label for="author0">author</label>
                <input type="text" id="author0" name="author">
            </li>
            <li>
                <button type="submit">register</button>
            </li>
        </ul>
    </form>
</div>
</body>
</html>