<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>書籍管理</title>
</head>
<body>
<h1>書籍情報 管理</h1>
<div>
    <h2>検索</h2>
    <form method="get" action="/book">
        <div>
            <label for="keyword">キーワード</label>
            <input type="text" id="keyword" placeholder="タイトルまたは著者" name="keyword">
            <button type="submit">検索</button>
        </div>
    </form>
</div>
<div>
    <h2>リスト</h2>
    <ul>
        {{#books}}
        <li>
            #{{id}}: 『{{title}}』{{author}} 著
            <ul>
                <li>編集フォーム
                    <form method="post" action="/book/edit/{{id}}">
                        <ul>
                            <li>
                                <label for="title{{id}}">タイトル</label>
                                <input type="text" id="title{{id}}" value="{{title}}" name="title">
                            </li>
                            <li>
                                <label for="author{{id}}">著者</label>
                                <input type="text" id="author{{id}}" value="{{author}}" name="author">
                            </li>
                            <li>
                                <button type="submit">更新</button>
                            </li>
                        </ul>
                    </form>
                </li>
                <li>
                    <form method="post" action="/book/delete/{{id}}">
                        <button type="submit">削除</button>
                    </form>
                </li>
            </ul>
        </li>
        {{/books}}
    </ul>
</div>
<div>
    <h2>新規登録</h2>
    <form method="post" action="/book">
        <ul>
            <li>
                <label for="title0">タイトル</label>
                <input type="text" id="title0" name="title" placeholder="昆虫のすべて">
            </li>
            <li>
                <label for="author0">著者</label>
                <input type="text" id="author0" name="author" placeholder="山田太郎">
            </li>
        </ul>
        <button type="submit">追加</button>
    </form>
</div>
</body>
</html>